.popup {
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  /*  is needed to compensate the transform of the card (scale) */
  z-index: 10;
  transition: all .5s ease-in-out .3s;
}

.popup_open {
  visibility: visible;
  transition: all .5s ease-in-out .2s;
}

.form {
  position: relative;
  display: flex;
  width: 50%;
  top: 25%;
  left: 0;
  padding: 0;
  margin: 0 auto;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  padding: 8px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;

  background-color: rgba(255, 255, 255, 1);
  text-align: left;
  z-index: 1010;
}

.form__close {
  right: 5%;
  top: -10%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  height: 28px;
  width: 28px;

  background: url('../../images/close-white.png') center no-repeat;
  border: 0;
}

.form__close:hover {
  opacity: .6;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 16px;
  padding: 0;
  border: 0;
}

.form__field_content {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin: 5px auto;

  line-height: 2em;
}

.form__error {
  margin: 5px 0 0;
  padding: 0;

  font-size: 12px;
  line-height: 15px;

  /* outline: none; */
}

.form__error_server {
  margin: 18px auto 10px;
  font-size: 2vh;
  text-align: center;
}

.form__error_active {
  color: #FF0000;
}

.form__input {
  flex: 1;
  margin: 0;
  padding: 0 5px;

  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.2);
}

.form__input:focus:not(:placeholder-shown) {
  color: #000000;
}

.form__input:not(:focus):not(:placeholder-shown):invalid {
  border-bottom: 1px solid #FF0000;;
  color: #FF0000;
}

.form__input:not(:focus):not(:placeholder-shown):valid {
  border-bottom: 2px solid rgba(5, 100, 5, 0.6);
  color: #000000;
  outline: none;
}

.form__label {
  margin: 30px 0 10px;
  width: 110px;
  min-width: 60px;

  font-size: 1em;
  line-height: 32px;
  color: #333;
}

.form__label:first-of-type {
  margin: 0 0 10px;
}

.form__link {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 17px;

  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  text-align: center;
}

.form__link_active {
  color: #2F71E5;
  /* color: #ed9d0a; */
}

.form__title {
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0;

  font-size: 3vh;
  color: #000000;
}

.form__subtitle {
  margin: 16px 0;

  font-size: 2vh;
  color: #000000;
}

@media screen and (max-width: 699px) {
  .form__container {
    min-height: 50vh;
  }
}

@media screen and (min-width: 768px) {
  .form__container {
    padding: 24px 36px;
  }

  .form__close {
    height: 40px;
    width: 40px;
  }

  .form__subtitle {
    margin: 22px 0;
  }

  .form__link {
    margin: 0 0 28px;
  }
}

@media screen and (min-width: 1024px) {
  .form__close {
    height: 50px;
    width: 50px;
  }
}
